*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  color: #333333;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

.inner {
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  background-color: #f2f2f2;
}

.inner-page {
  background-color: #ffffff;
}

.index-page {
  background-color: #ffffff;
}

a{
  text-decoration: none;
}

/*index-header*/

.main-navigation {
  color: #000000;
  font-weight: bold;
  background-color: #ffffff;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:focus {
  color: #cacaca;
}


/*inner-header*/

.inner-main-navigation {
  color: #000000;
  font-weight: bold;
  background-color: #ffffff;
  line-height: 26px;
}

.inner-main-navigation .site-navigation {
  list-style: none;
}

/*main*/

.visually-hidden {
 	  position: absolute;
 	  width: 1px;
 	  height: 1px;
 	  margin: -1px;
 	  border: 0;
 	  padding: 0;
 	  clip: rect(0 0 0 0);
 	  overflow: hidden;
 }

.sedona-logo {
  background-image: url("../img/background-index.jpg");
  background-repeat: no-repeat;
  width: 100%;
}

.title {
  background-color: #ffffff;
  text-align: center;
}

.title b {
  font-size: 21px;
  color: #000000;
  font-weight: bold;
  text-align: center;
}

.title p {
  text-align: center;
}

.features,
.advice-item {
  text-align: center;
}

.feature-one,
.feature-two {
  background-color: #81b3d2;
}

.feature-one b,
.feature-two b {
  font-size: 21px;
  line-height: 21px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
}

.feature-one p,
.feature-two p {
  color: #ffffff;
  line-height: 21px;
  text-align: center;
}

.advice {
  background-color: #ffffff;
}

.advice b {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  font-weight: bold;
  text-align: center;
}

.advice p {
  line-height: 21px;
  text-align: center;
}

.index-column {
  background-color: #eeeeee;
}

.feature-three b {
  font-size: 21px;
  color: #000000;
  font-weight: bold;
  line-height: 21px;
  text-align: center;
}

.feature-three p {
  line-height: 21px;
  text-align: center;
}

.interest {
  background-color: #ffffff;
  text-align: center;
}

.interest b {
  font-size: 30px;
  color: #000000;
  line-height:36px;
  font-weight: bold;
  text-align: center;
}

.interest p {
  line-height: 24px;
  text-align: center;
}

.search-hotel {
  background-color: #ffffff;
}

.search-form-group input[type="text"] {
  font-size: 14px;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

.search-form-group input[type="text"]:hover {
  background-color: #ebebeb;
}

.search-form-group input[type="text"]:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.search-form-group label {
  color: #000000;
  font-weight: bold;
}

.form-search-button {
  font-size: 21px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  background-color: #81b3d2;
}

.form-search-button:hover {
  background-color: #669ec0;
}

.form-search-button:focus {
  background-color: #5496bd;
  color: #94b9d2;
}

.interest a {
  font-size: 21px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  background-color: #766357;
}

.interest a:hover {
  background-color: #604e43;
}

.interest a:focus {
  background-color: #503e33;
  color: #928a85;
}

/*inner-main*/

.choose {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  font-weight: bold;

  background-image: url("../img/background-inner.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.infrastructure-form p {
  font-size: 16px;
}

.infrastructure-form label {
  font-size: 14px;
  color: #ffffff;
  line-height: 21px;
  font-weight: normal;
}

.choose-price .price-range {
  font-size: 14px;
  color: #ffffff;
  line-height: 21px;
  font-weight: normal;
}

.inner-form-submit {
  font-size: 14px;
  color: #ffffff;
  line-height: 21px;
  font-weight: normal;
  border: 2px solid #ffffff;
}

.inner-form-submit:hover {
  background-color: #ffffff;
  color: #000000;
}

.sort {
  background-color: #ffffff;
}

.sort b {
  font-size: 21px;
  color: #000000;
  font-weight: bold;
  line-height: 26px;
}

.sort p {
  font-size: 12px;
  line-height: 18px;
  color: #000000;
}

.sort a {
  font-size: 12px;
  line-height: 18px;
  color: #cacaca;
  text-decoration: none;
  border-bottom: 1px dashed #cacaca;
}

.sort a:hover {
  color: #81b3d2;
  text-decoration: none;
  border-bottom: 1px dashed #81b3d2;
}

.sort a:focus {
  color: #000000;
}

.home {
  background-color: #ffffff;
}

.home h2 {
  font-size: 21px;
  color: #000000;
  font-weight: bold;
  line-height: 26px;
}

.home h2:hover {
  color: #81b3d2;
}

.home h2:focus {
  color: #cacaca;
}

.variant-description a {
  background-color: #81b3d2;
  color: #ffffff;
  font-weight: bold;
  line-height: 21px;
}

.variant-description a:hover {
  background-color: #669ec0;
}

.variant-description a:focus {
background-color: #5496bd;
color: #94b9d2;
}

.order a {
  background-color: #766357;
  color: #ffffff;
  font-weight: bold;
  line-height: 21px;
}

.order a:hover {
  background-color: #604e43;
}

.order a:focus {
  background-color: #503e33;
  color: #928a85;
}

.rating-value {
  background-color: #f2f2f2;
  color: #666666;
  line-height: 21px;
}




/*footer*/

.footer {
  background-color: #ffffff;
  color: #000000;
}

.hashtag {
  font-size: 21px;
  color: #000000;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
}

.footer-social {
  text-align: center;
}

.footer-social a {
  background-color: #81b3d2;
  color: #ffffff;
}

.footer-social a:hover {
  background-color: #669ec0;
}

.footer-social a:focus {
  background-color: #5496bd;
  color: #88b6d1;
}

.footer-copyright {
  text-align: center;
}

.footer-copyright a {
  color: #000000;
}

.footer-copyright a:hover {
  color: #81b3d2;
}

.footer-copyright a:focus {
  color: #cacaca;
}
