in*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  color: #333333;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

.inner {
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  background-color: #f2f2f2;
}

.inner-page {
  background-color: #ffffff;
}

.index-page {
  background-color: #ffffff;
}

a{
  text-decoration: none;
}

/*index-header*/

.main-navigation {
  color: #000000;
  font-weight: bold;
  background-color: #ffffff;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:focus {
  color: #cacaca;
}


/*inner-header*/

.inner-main-navigation {
  color: #000000;
  font-weight: bold;
  background-color: #ffffff;
  line-height: 26px;
}

.inner-main-navigation .site-navigation {
  list-style: none;
}

.site-navigation a.active,
.site-navigation a.active:hover,
.site-navigation a.active:active {
  color: #766357;
}

/*main*/

.visually-hidden {
 	  position: absolute;
 	  width: 1px;
 	  height: 1px;
 	  margin: -1px;
 	  border: 0;
 	  padding: 0;
 	  clip: rect(0 0 0 0);
 	  overflow: hidden;
 }

.sedona-logo {
  background: url("../img/under-title.png") no-repeat bottom,
              url("../img/background-index.jpg") no-repeat 50% 21%;
  width: 100%;
  text-align: center;
}

.title {
  background-color: #ffffff;
  text-align: center;
}

.title b {
  font-size: 21px;
  color: #000000;
  font-weight: bold;
  text-align: center;
}

.title p {
  text-align: center;
}

.features:first-of-type img {
  background-image: url(../img/viewsedona1.jpg);
  background-repeat: no-repeat;
}

.features:nth-of-type(2) img {
  background-image: url(../img/viewsedona2.jpg);
  background-repeat: no-repeat;
}

.features,
.advice-item {
  text-align: center;
}

.feature-one,
.feature-two {
  background-color: #81b3d2;
}

.feature b {
  font-size: 21px;
  line-height: 21px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
}

.feature-one p,
.feature-two p {
  color: #ffffff;
  line-height: 21px;
  text-align: center;
}

.advice {
  background-color: #ffffff;
}

.advice b {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  font-weight: bold;
  text-align: center;
}

.advice p {
  line-height: 21px;
  text-align: center;
}

.index-column {
  background-color: #eeeeee;
}

.feature-three b {
  font-size: 21px;
  color: #000000;
  font-weight: bold;
  line-height: 21px;
  text-align: center;
}

.feature-three p {
  line-height: 21px;
  text-align: center;
}

.interest {
  background-color: #ffffff;
  text-align: center;
}

.interest b {
  font-size: 30px;
  color: #000000;
  line-height:36px;
  font-weight: bold;
  text-align: center;
}

.interest p {
  line-height: 24px;
  text-align: center;
}

.search-hotel {
  background-color: #ffffff;
}

.search-form-group input[type="text"] {
  font-size: 14px;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

.search-form-group input[type="text"]:hover {
  background-color: #ebebeb;
}

.search-form-group input[type="text"]:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.search-form-group label {
  color: #000000;
  font-weight: bold;
}

.form-search-button {
  font-size: 21px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  background-color: #81b3d2;
}

.form-search-button:hover {
  background-color: #669ec0;
}

.form-search-button:focus {
  background-color: #5496bd;
  color: #94b9d2;
}

.interest a {
  font-size: 21px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  background-color: #766357;
}

.interest a:hover {
  background-color: #604e43;
}

.interest a:focus {
  background-color: #503e33;
  color: #928a85;
}

/*inner-main*/

.choose {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  font-weight: bold;

  background-image: url("../img/background-inner.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.infrastructure-form p {
  font-size: 16px;
}

.infrastructure-form label {
  font-size: 14px;
  color: #ffffff;
  line-height: 21px;
  font-weight: normal;
}

.choose-price .price-range {
  font-size: 14px;
  color: #ffffff;
  line-height: 21px;
  font-weight: normal;
}

.inner-form-submit {
  font-size: 14px;
  color: #ffffff;
  line-height: 21px;
  font-weight: normal;
  border: 2px solid #ffffff;
}

.inner-form-submit:hover {
  background-color: #ffffff;
  color: #000000;
}

.sort {
  background-color: #ffffff;
}

.sort b {
  font-size: 21px;
  color: #000000;
  font-weight: bold;
  line-height: 26px;
}

.sort p {
  font-size: 12px;
  line-height: 18px;
  color: #000000;
}

.sort a {
  font-size: 12px;
  line-height: 18px;
  color: #cacaca;
  text-decoration: none;
  border-bottom: 1px dotted #81b3d2;
}

.sort a:hover {
  color: #81b3d2;
}

.sort a:focus {
  color: #000000;
  border: none;
}

.sort a.active,
.sort a.active:hover,
.sort a.active:active {
  color: #81b3d2;
  border: none;
}

.home {
  background-color: #ffffff;
}

.home h2 {
  font-size: 21px;
  color: #000000;
  font-weight: bold;
  line-height: 26px;
}

.home h2:hover {
  color: #81b3d2;
}

.home h2:focus {
  color: #cacaca;
}

.variant-description a {
  background-color: #81b3d2;
  color: #ffffff;
  font-weight: bold;
  line-height: 21px;
}

.variant-description a:hover {
  background-color: #669ec0;
}

.variant-description a:focus {
background-color: #5496bd;
color: #94b9d2;
}

.order a {
  background-color: #766357;
  color: #ffffff;
  font-weight: bold;
  line-height: 21px;
}

.order a:hover {
  background-color: #604e43;
}

.order a:focus {
  background-color: #503e33;
  color: #928a85;
}

.rating-value {
  background-color: #f2f2f2;
  color: #666666;
  line-height: 21px;
}

/*footer*/

.footer {
  background-color: #ffffff;
  color: #000000;
}

.hashtag {
  font-size: 21px;
  color: #000000;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
}

.footer-social {
  text-align: center;
}

.container {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2)
}

.page-header {
  min-height: 56px;
}

.main-navigation {
  position: relative;
  min-height: 56px;
}

.site-navigation {
     margin: 0;
     padding: 0;

     display: flex;
     flex-direction: row;
     justify-content: space-between;
     flex-wrap: wrap;
}

 .site-navigation li {
   width: 20%;
   margin: auto;
   padding: 15px 0;
 }

 .site-navigation li:nth-child(4n+1) {
   margin-left: 72px;
   text-align: left;
 }

 .site-navigation li:nth-child(4n+2) {
   margin-left: -44px;
   text-align: left;
 }

 .site-navigation li:nth-child(4n+3) {
   text-align: right;
   margin-right: -43px;
 }

 .site-navigation li:nth-child(4n+4){
   text-align: right;
   margin-right: 72px;
 }

.nav-logo {
  width: 138px;
  height: 70px;
  position: absolute;
  margin: auto;

  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}

.sedona-logo {
  padding-top: 76px;
  padding-bottom: 71px;
 }

.title {
  margin: 0;
  padding: 0;
  min-height: 216px;
}

.title b {
  display: inline-block;
  padding-top: 60px;
  padding-left: 377px;
  padding-right: 376px;
  margin-bottom: 29px;
}

.title p {
  margin: 0;
  padding: 0;
}

.advantages {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
}

.features {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
  min-height: 256px;
  width: 1200px;
}

.feature {
  width: 400px;
  min-height: 256px;
}

.feature .feature-name {
  margin: 0;
  padding: 0;
  display: inline-block;
  padding-top: 48px;
  margin-bottom: 24px;
}

.feature-one .feature-name {
  padding-left: 135px;
  padding-right: 135px;
}

.feature p:first-of-type {
  margin: 0;
  margin-bottom: 22px;
  padding-left: 165px;
  padding-right: 165px;
}

.feature-one p:last-of-type {
  margin: 0;
  padding-left: 54px;
  padding-right: 54px;
}

.advice {
  margin: 0;
  padding: 0;

  display: flex;
  width: 1200px;
  min-height: 331px;
}

.advice-item {
  width: 400px;
  min-height: 330px;
  padding-top: 150px;
}

.advice-name {
  display: inline-block;
  margin-top: 11px;
}

.advice-item:first-of-type .advice-name {
  margin-left: 165px;
  margin-right: 167px;
  margin-bottom: 25px;
}

.advice-item:first-of-type p {
  margin: 0;
  padding-left: 69px;
  padding-right: 72px;
}

.advice-item:nth-of-type(2) .advice-name {
  margin-left: 180px;
  margin-right: 180px;
  margin-bottom: 25px;
}

.advice-item:nth-of-type(2) p {
  margin: 0;
  padding-left: 58px;
  padding-right: 57px;
}

.advice-item:nth-of-type(3) .advice-name {
  margin-left: 148px;
  margin-right: 148px;
  margin-bottom: 25px;
}

.advice-item:nth-of-type(3) p {
  margin: 0;
  padding-left: 64px;
  padding-right: 64px;
}

.advice-item {
  position: relative;
}

.advice-item:first-of-type::before {
  content: "";
  position: absolute;
  background: url("../img/icon-1.svg") no-repeat;
  width: 75px;
  height: 72px;
  top: 60px;
  left: 162px;
}

.advice-item:nth-of-type(2)::before {
  content: "";
  position: absolute;
  background: url("../img/icon-3.svg") no-repeat;
  width: 74px;
  height: 72px;
  top: 62px;
  left: 161px;
}

.advice-item:nth-of-type(3)::before {
  content: "";
  position: absolute;
  background: url("../img/icon-2.svg") no-repeat;
  width: 64px;
  height: 76px;
  top: 56px;
  left: 168px;
}

.feature-two {
  order: 1;
}

.feature-two .feature-name {
  margin-top: -2px;
}

.feature-two p:last-of-type {
  margin: 0;
  padding-left: 48px;
  padding-right: 48px;
}

.feature-three {
  min-height: 256px;
}

.feature-three .feature-name {
  margin-top: -2px;
}

/* -№3- */
.feature-three:first-of-type .feature-name {
  padding-left: 140px;
  padding-right: 140px;
}

.feature-three:first-of-type p:first-of-type {
  padding-top: 2px;
  padding-left: 173px;
  padding-right: 173px;

}

.feature-three:first-of-type p:nth-of-type(2) {
  margin: 0;
  padding-top: -2px;
  padding-left: 94px;
  padding-right: 95px
}

/* -№4- */
.feature-three:nth-of-type(2) .feature-name {
  padding-left: 149px;
  padding-right: 149px;
}

.feature-three:nth-of-type(2) p:first-of-type {
  padding-top: 2px;
  margin-left: auto;
  margin-right: auto;
}

.feature-three:nth-of-type(2) p:nth-of-type(2) {
  margin: 0;
  margin-top: -1px;
  padding-left: 64px;
  padding-right: 65px
}

/* -№5- */
.feature-three:nth-of-type(3) .feature-name {
  padding-left: 147px;
  padding-right: 147px;
}

.feature-three:nth-of-type(3) p:first-of-type {
  padding-top: 2px;
  margin-left: auto;
  margin-right: auto;
}

.feature-three:nth-of-type(3) p:nth-of-type(2) {
  margin: 0;
  margin-top: -1px;
  padding-left: 70px;
  padding-right: 70px
}

.interest {
  width: 1200px;
  min-height: 291px;
  padding-top: 50px;
}

.interest b {
  margin-left: 451px;
  margin-right: 451px;
}

.interest p {
  margin: 0;
  margin-top: 23px;
  margin-bottom: 47px;
}

.interest a {
  display: block;
  width: 568px;
  height: 86px;
  margin-left: 316px;
  margin-right: 316px;
  padding-left: 135px;
  padding-right: 135px;
  padding-top: 29px;
}

.calendar:hover path {
    fill: #000000;
}
.calendar:
 path {
    fill: #81b3d2;
}
/*
.search-hotel {
  width: 568px;
  height: 395px;
  background-color: #ffffff;
  color: #000000;
  top: 292px;
  left: 317px;
  position: absolute;
}*/

.map {
  width: 1200px;
  min-height: 595px;
  position: relative;
}

.footer {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
  min-height: 120px;
  padding-top: 35px;
}

.index-page .footer {
  position: relative;
  margin-top: -129px;
  background-color: rgba(255, 255, 255, 0.9);
}

.hashtag {
  width: 400px;
  align-items: center;
  padding-left: 1px;
  padding-top: 10px;
}

.footer-copyright {
  width: 400px;
  display: flex;
  padding-left: 100px;
}

.footer-copyright p {
  margin: 0;
  margin-left: 1px;
  margin-right: 8px;
  margin-top: 11px;
}

.footer-copyright a {
  margin: 0;
  margin-top: 4px;
}

.footer-social {
  display: flex;
  justify-content: center;
  width: 400px;
  margin: 0;
  margin-left: 4px;
  margin-top: 1px;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #81b3d2;
  vertical-align: middle;
  width: 46px;
  height: 48px;
  margin-right: 6px;
}

.footer-social a {
  background-color: #81b3d2;
}

.footer-social a:hover {
  background-color: #669ec0;
}

.footer-social a:focus {
  background-color: #5496bd;
}

.social:hover path {
  fill: #ffffff;
}

.social:focus path {
  fill: #88b6d1;
}

.footer-copyright {
  text-align: center;
}

.footer-copyright a:hover path {
  fill: #81b3d2;
}

.footer-copyright a:focus path {
  fill: #cacaca;
}

/*inner*/

.choose {
  width: 1200px;
  min-height: 218px;
}

.infrastructure-form {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
  width: 1200px;
}

.choose-infrastructure {
  width: 240px;
  margin-left: 71px;
  outline: 1px solid black;
  padding-top: 11px;
}

.choose-infrastructure label {
  display: block;
}

.choose-type {
  width: 240px;
  margin-left: 14px;
  outline: 1px solid black;
  padding-top: 11px;
}

.choose-type label {
  display: block;
}

.choose-price {
  margin-left: 235px;
  margin-top: 28px;
  padding-left: 10px;
  width: 318px;
  color: #ffffff;
  text-transform: uppercase;
  box-sizing: content-box;
}

.choose-price-title {
  margin-bottom: 9px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  width: 315px;
  height: 32px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 38px;
  cursor: pointer;
  margin-top: -4px;
}

.price-controls .min-price {
  width: 80px;
  padding-left: 64px;
}

.price-controls .max-price {
  width: 80px;
  padding-left: 67px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 33px;
}

.range-controls .scale {
  padding-left: 1px;
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .scale-mini {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-circle {
  position: absolute;
  top: -9px;
  width: 20px;
  height: 20px;
  background: url(../img/filter-button.svg);
  cursor: pointer;
}

.range-circle:hover {
  background: #1c4f80;
}

.range-circle-min {
  left: 0;
}

.range-circle-max {
  left: 79.5%;
}

.choose-price-btn {
  display: block;
  margin-left: 85px;
  padding-top: 7px;
  padding-bottom: 5px;
  padding-left: 34px;
  padding-right: 34px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 1px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
  font-family: inherit;
}

.choose-price-btn:hover {
  color: #000000;
  background: #ffffff;
}

.sort {
  width: 1200px;
  min-height: 85px;
  display: flex;
  border-bottom: 1px solid #e5e5e5;
}

.sort b {
  padding-left: 71px;
  padding-top: 28px;
}

.sort p {
  margin: 0;
  margin-left: 48px;
  padding-top: 36px;
}

.sort-by {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 40px;
  margin-top: 33px;
}

.sort-by li:nth-of-type(2),
.sort-by li:nth-of-type(3)
{
  margin-left: 33px;
}

.triangle {
  border: none;
  margin-left: 503px;
  margin-top: 34px;
}

.triangle a {
  border: none;
}

.triangle a:nth-of-type(2) {
  margin-left: 9px;
}

.triangle path {
  fill: #e5e5e5;
}

.triangle path:hover {
  fill: #231f20;
}

.triangle path:focus,
.triangle-active path {
  fill: #81b3d2;
}

.home {
  margin: 0;
  padding: 0;
  min-height: 121px;
  display: flex;
  width: 1200px;
  padding-left: 71px;
  padding-top: 29px;
  border-bottom: 1px solid #e5e5e5;
}

.home-variant {
  padding-left: 29px;
  width: 300px;
}

.home-variant h2 {
  margin: 0;
  margin-left: 1px;
  margin-top: -5px;
}

.home:nth-of-type(2) img {
  margin-top: 1px;
}

.home:nth-of-type(2) .home-variant {
  margin-top: 1px;
}

.home:nth-of-type(3) img {
  margin-top: 2px;
}

.home:nth-of-type(3) .home-variant {
  margin-top: 3px;
}

.home:nth-of-type(3) .main-info {
  margin-top: -2px;
}

.home-variant p {
  margin: 0;
}

.main-info {
  display: flex;
}

.variant-description,
.order {
  padding-top: 9px;
}

.order {
  padding-left: 6px;
}

.main-info a {
  display: inline-block;
  margin-top: 13px;
  padding: 4px 17px;
}

.home:nth-of-type(2) .main-info {
  margin-top: -1px;
}

.home:nth-of-type(3) .main-info {
  margin-top: -1px;
}

.rating {
  margin-left: auto;
  margin-right: 73px;
  outline: 1px solid black;
  width: 110px;
}

.rating-stars {
}
